In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data = np.arange(10)  # Paso 1: Crear array de 0 a 9
X = data.reshape(5, 2)  # Paso 2: Reorganizar en una matriz
y = np.arange(5)  # Mantiene consistencia con NumPy

In [3]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)

In [22]:
dataset = pd.read_csv('C:/Users/omar.luna/Desktop/Ciencia de Datos/Data.csv')

In [6]:
dataset.head(10)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [23]:
#Para seleccionar la última columna como array de numpy
X = dataset.iloc[:,:-1].values

In [24]:
y = dataset.iloc[:,3].values

#### Tratamiento de los NAs

In [25]:
from sklearn.impute import SimpleImputer
#imputer = Imputer(missing_values = 'NaN', strategy = 'mean',axis =0) "Obsoleto"
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
#imputer = SimpleImputer.fit(X[:,1:3])  "obsoleto"
X[:, 1:3] = imputer.fit_transform(X[:, 1:3])
#print(X)

#### Codificar los datos categóricos

In [26]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
labelencoder_X = LabelEncoder()
# Convertimos la columna categórica en números
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])

# Aplicamos OneHotEncoder para crear las variables Dummy
column_transformer = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(), [0])],
    remainder='passthrough'  #para dejar las demas columnas tal cual
)

X = column_transformer.fit_transform(X)

In [27]:
#Para transformar la columna purchase
#labelencoder_y = LabelEncoder()
#y = labelencoder_y.fit_transform(y)

#### Dividir el dataset en conjunto de entrenamiento y de prueba

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state= 0)

In [32]:
len(X_train)

8

In [34]:
len(X_test)

2

In [37]:
len(y_test)

2

In [38]:
len(y_train)

8